.snow, .winter {
  z-index: 2;
  pointer-events: none;
}

.winter {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
}
.snow--near {
  animation-duration: 10s;
  background-image: url("http://honzagalajda.cekuj.net/www/img/snow-large.png");
  background-size: contain;
}
.snow--near + .snow--alt {
  animation-delay: 5s;
}
.snow--mid {
  animation-duration: 20s;
  background-image: url("http://honzagalajda.cekuj.net/www/img/snow-medium.png");
  background-size: contain;
}
.snow--mid + .snow--alt {
  animation-delay: 10s;
}
.snow--far {
  animation-duration: 30s;
  background-image: url("http://honzagalajda.cekuj.net/www/img/snow-small.png");
  background-size: contain;
}
.snow--far + .snow--alt {
  animation-delay: 15s;
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }
  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}
/*:root {
    --snow-near: 10s;
    --snow-mid: (var(--snow-near) * 2);
    --snow-far: (var(--snow-near) * 3);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.winter {
    z-index: 100;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.snow {
    z-index: 100;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);
}
*/